<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="icon" type="image/x-icon" href="/images/favi.png">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="main w-screen h-screen bg-zinc-900 text-white">
        <header class="bg-red-500 text-white"><h1 class="text-4xl px-10 py-4 font-bold"><a href="/feed">Blog Buster</a></h1></header>

        <div class="w-screen flex justify-center items-center mt-14 gap-5">
            <div class="img"><img class="w-5/5" src="https://www.myphukettravel.com/assets/front-end/images/404.gif" alt="" srcset=""></div>
        </div>
    </div>
    
</body>
</html>